.catalog{
    margin:0 auto;
    width:740px;
    border: 3px solid #808411;
    border-radius: 7px;
    background-color: #7C8612;
    }
    .catalogHeading {
      font-size: 45px;
      margin-top: 15px;
      margin-bottom: 20px;
      font-weight: bold;
      font-family: 'Caveat',cursive;
      text-align: center;
      color: #CEB164;
    }
  .noTreasures{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Caveat',cursive;
    text-align: center;
    color: #CEB164;
  }  
  .beFirst{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Caveat',cursive;
    text-align: center;
    color: #CEB164;
  }
  .clickHere{
    font-style: italic;
    color:#8D3025;
    font-family: 'Caveat',cursive;
  }
  .clickHere:hover{
    cursor: pointer;
   text-decoration: underline;
   color: white;
  }